version: "3"

services:
    nginx:
        container_name: deepez_nginx
        build:
            context: .
            dockerfile: infra/images/nginx/Dockerfile
        volumes: 
            - ./symfony/:/var/www/symfony/
        ports: 
            - 80:80
        networks:
            - DeepEZ
    
    php:
        container_name: deepez_php
        build:
            context: .
            dockerfile: ./infra/images/php/Dockerfile
        depends_on:
            - mysql
        environment:
            APP_ENV: dev
        volumes:
            - ./symfony/:/var/www/symfony/
        networks:
            - DeepEZ 

###> symfony/mailer ###
    mailer:
        image: tophfr/mailcatcher
        ports: 
            - 1025:25
            - 1080:80
        networks:
            - DeepEZ
###< symfony/mailer ###
    
    mysql:
        container_name: deepez_mysql
        image: mysql:8.0.26
        command: ['--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci', '--default-authentication-plugin=mysql_native_password']
        restart: always
        ports:
            - 3306:3306
        volumes:
            - ./infra/volumes/database:/var/lib/mysql
        environment:
            # MYSQL_USER: user
            # MYSQL_PASSWORD: password
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: deepez
        networks:
            - DeepEZ

networks:
    DeepEZ: