{% extends 'base.html.twig' %}

{% block body %}
    {{ include('main/_sidenav.html.twig', { 'active_element': active_nav_element, 'nav_elements': nav_elements }) }}

    <div class="content">
        {% block content %}
            app
        {% endblock %}
    </div>

{% endblock %}