{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/app.css') }}" rel="stylesheet" media="screen"/>
    <link href="{{ asset('css/sidenav.css') }}" rel="stylesheet" media="screen"/>
{% endblock %}

{% block body %}
    {{ include('main/_sidenav.html.twig', { 'active_element': active_nav_element, 'nav_elements': nav_elements }) }}

    <div class="content">
        {% block content %}
            app
        {% endblock %}
    </div>

{% endblock %}