{# 
    Required parameters:
        - url : were the nav element will redirect the user
        - name : The name that will be displayed
        - active_element : actual active element
#}
<a href="{{ url }}"
    {% if active_element is same as name %}
        class="active"
    {% endif %}>
    {{ name }} {{ logo|raw }}
</a>