{# 
    Required parameters:
        - formField : the Form field to display
#}
<div data-controller="actions">
    {{ form_label(formField) }}
    {{ form_widget(formField, {'attr': {'data-actions-target': 'source'}}) }}
    <div data-action="click->actions#copy" class="actions"><i class="fas fa-copy"></i></div>
</div>

{#<tr data-controller="actions">
    <th>{{ form_label(formField) }}</th>
    <td>{{ form_widget(formField, {'attr': {'data-actions-target': 'source'}}) }}</td>
    <td><div data-action="click->actions#copy" class="actions"><i class="fas fa-copy"></i></div></td>
</tr>#}