{# 
    Required parameters :
        - active_element : defines the nav element that will be in active state
#}

<div class="sidenav">
    <div class="logo">
        <p>My app logo here</p>
    </div>

    {% set sidenav_element_template = 'main/sidenav/_element.html.twig' %}
    
    {% for element in this.navElements %}
        {{ include(sidenav_element_template, { 
            'name': element.title,
            'url': element.uri,
            'active_element': this.activeElement,
            'logo': element.logo,
            })
        }}
    {% endfor %}
</div>
