<div class="sidenav">
    <div class="logo">
        <p>My app logo here</p>
    </div>

    {% set sidenav_element_template = 'main/sidenav/_element.html.twig' %}
    
    {% for element in this.navElements %}
        {{ component('sidenav/element', { 
                navElement: element,
                activeElement: this.activeElement,
            })
        }}
    {% endfor %}
</div>
