body {
    margin-left: 25%;
    margin-right: 25%;
}

a {
    color: var(--title-color);
}

/* form errors take the whole first row */
form .alert {
    grid-column-start: 1;
    grid-column-end: 3;
}
