{# 
    Required parameters :
        - credential : defines the credential informations to display
#}

<a {# href="{{ path('credential', {'id': credential.id}) }}" #}>
    <div class="title">
        {{ credential.name }}
    </div>
    {% if credential.username is defined and credential.username is not empty %}
        <div class="text">
            {{ credential.username }}
        </div>
    {% endif %}
</a>
