{# 
    Required parameters :
        - credential : defines the credential informations to display
#}

<div class="btn">
    <a href="{{ path('credential', {'id': credential.id}) }}">
        <div class="title">
            {{ credential.name }}
        </div>
        
        {% if credential.username is defined and credential.username is not empty %}
            <div class="text">
                {{ credential.username }}
            </div>
        {% endif %}
    </a>

    <div class="btn-container vertical-center">
        <a href=" {{ path('delete-credential', {'id': credential.id})}} ">
            <i class="fas fa-trash"></i>
        </a>
    </div>
</div>
