/* Placeholder styling to empty logo space */
.sidenav .logo {
    position: relative;
    /* width: var(--sidenav-width); */
    width: calc(var(--sidenav-width) - 2px);
    height: var(--sidenav-width);
    /* border: 1px solid; */
}

/* Placeholder styling for the label placed into the logo space */
.sidenav .logo p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: var(--sidenav-width);
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--sidenav-bg-color);
    box-shadow: 2px 0 10px black;
    overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
    position: relative;
    font-family: "Nirmala UI";
    font-weight: normal;
    text-align: left;
    width: calc(var(--sidenav-width) - var(--sidenav-element-padding--left));
    padding: 6px 0 6px 8px;
    font-size: 25px;
    color: var(--title-color);
    display: block;
}

.sidenav a i {
    position: absolute;
    right: 12px;
}

.sidenav a:hover, .sidenav .active {
    border-left: 5px solid rgb(0, 171, 201);
    background-color: var(--sidenav-lighten-bg-color);
}
