:root {
    --main-bg-color: rgb(46, 51, 73);
    --sidenav-bg-color: rgb(24, 30, 54);
    --sidenav-lighten-bg-color: rgb(39, 48, 85);
    --sidenav-width: 200px;
    --nav-element-padding-left: 8px;
    --title-color: rgb(0, 171, 201);
    --text-color: rgb(220, 220, 220);
    --warning-color: rgb(176, 65, 62);
  }

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    padding: 0;
    margin: 0;
    font-family: 'Microsoft Sans Serif';
}

a {
    text-decoration: none;
}

/* Placeholder styling to empty logo space */
.sidenav .logo {
    position: relative;
    /* width: var(--sidenav-width); */
    width: calc(var(--sidenav-width) - 2px);
    height: var(--sidenav-width);
    /* border: 1px solid; */
}

/* Placeholder styling for the label placed into the logo space */
.sidenav .logo p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: var(--sidenav-width);
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--sidenav-bg-color);
    box-shadow: 2px 0 10px black;
    overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
    position: relative;
    font-family: "Nirmala UI";
    font-weight: normal;
    text-align: left;
    width: calc(var(--sidenav-width) - var(--sidenav-element-padding--left));
    padding: 6px 0 6px 8px;
    font-size: 25px;
    color: var(--title-color);
    display: block;
}

.sidenav a i {
    position: absolute;
    right: 12px;
    top: 10px;
}

.sidenav a:hover, .active {
    border-left: 5px solid rgb(0, 171, 201);
    background-color: var(--sidenav-lighten-bg-color);
}

.content {
    margin-left: var(--sidenav-width); /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.title {
    color: var(--title-color);
}

.text {
    color: var(--text-color);
}

.display-block > div {
    position: relative;
    background-color: var(--sidenav-bg-color);
    display: block;
    margin: 10px 20px;
    box-shadow: 2px 2px 3px -1px black;
    font-family: 'Microsoft sans Serif';
}

.display-block > div:hover {
    background-color: var(--sidenav-lighten-bg-color);
}

.display-block > div .btn-container {
    right: 0;
    padding: 0 10px;
}

.fa-trash {
    color: var(--warning-color);
}

#header {
    position: relative;
    padding: 15px 15px 5px 15px;
}

#header input {
    position: absolute;
    right: 15px;
    width: 30vw;
    padding: 5px;
    top: 30%;
}

.middle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.btn-add {
    background-color: var(--title-color);
    color: var(--text-color);
}

.btn {
    padding: 6px 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 3px -1px black;
}

.btn:hover {
    background-color: var(--sidenav-lighten-bg-color);
}