:root {
    --main-bg-color: rgb(46, 51, 73);
    --sidenav-bg-color: rgb(24, 30, 54);
    --sidenav-lighten-bg-color: rgb(39, 48, 85);
    --sidenav-width: 200px;
    --nav-element-padding-left: 8px;
    --title-color: rgb(0, 171, 201);
  }

body {
    background-color: var(--main-bg-color);
    color: #fff;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Placeholder styling to empty logo space */
.sidenav .logo {
    position: relative;
    /* width: var(--sidenav-width); */
    width: calc(var(--sidenav-width) - 2px);
    height: var(--sidenav-width);
    /* border: 1px solid; */
}

/* Placeholder styling for the label placed into the logo space */
.sidenav .logo p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: var(--sidenav-width);
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--sidenav-bg-color);
    box-shadow: 2px 0 10px black;
    overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
    position: relative;
    font-family: "Nirmala UI";
    font-weight: normal;
    text-align: left;
    width: calc(var(--sidenav-width) - var(--sidenav-element-padding--left));
    padding: 6px 0 6px 8px;
    font-size: 25px;
    color: var(--title-color);
    display: block;
}

.sidenav a i {
    position: absolute;
    right: 12px;
    top: 10px;
}

.sidenav a:hover, .active {
    border-left: 5px solid rgb(0, 171, 201);
    background-color: var(--sidenav-lighten-bg-color);
}

.content {
    margin-left: var(--sidenav-width); /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.title {
    color: var(--title-color);
}

.text {
    color: #fff;
}

.display-block {
    padding: 10px 0;
}

.display-block a {
    background-color: var(--sidenav-bg-color);
    display: block;
    padding: 6px 10px;
    margin: 10px 20px;
    box-shadow: 2px 2px 3px -1px black;
    border-radius: 3px;
}

.display-block a:hover {
    background-color: var(--sidenav-lighten-bg-color);
}