{% extends 'base.html.twig' %}

{% block body %}
    {{ include('main/_sidenav.html.twig', {'active_page': active_page}) }}

    <div class="content">
        {% block content %}
            app
        {% endblock %}
    </div>

{% endblock %}