.display-block > div {
    position: relative;
    background-color: var(--sidenav-bg-color);
    display: block;
    margin: 10px 20px;
    box-shadow: 2px 2px 3px -1px black;
    font-family: 'Microsoft sans Serif';
}

.display-block > div:hover {
    background-color: var(--sidenav-lighten-bg-color);
}

.display-block > div .btn-container {
    right: 0;
    padding: 0 10px;
}

#header input {
    justify-self: end;
    width: 100%;
    padding: 5px;
    grid-area: right;
}

#header input:focus-visible {
    outline: none;
}

.fa-trash {
    color: var(--warning-color);
}

