.display-block > div {
    position: relative;
    background-color: var(--sidenav-bg-color);
    display: block;
    margin: 10px 20px;
    box-shadow: 2px 2px 3px -1px black;
    font-family: 'Microsoft sans Serif';
}

.display-block > div:hover {
    background-color: var(--sidenav-lighten-bg-color);
}

.display-block > div .btn-container {
    right: 0;
    padding: 0 10px;
}

#header {
    position: relative;
    padding: 20px 15px 10px 15px;
}

#header input {
    position: absolute;
    right: 15px;
    width: 30vw;
    padding: 5px;
    top: 30%;
}

.btn-add {
    background-color: var(--title-color);
    color: var(--text-color);
    display: inline-block;
}
