#header {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
}

#header * {
    width: max-content;
}

#header .previous {
    justify-self: start;
}

#header .title {
    justify-self: center;
    align-self: center;
    color: var(--text-color);
    font-weight: bold;
}

#header .align-right {
    justify-self: end;
}