<div class="btn">
    <a href="{{ path('read-credential', {'id': this.credential.id}) }}">
        <div class="title">
            {{ this.credential.name }}
        </div>
        
        {% if this.credential.username is defined and this.credential.username is not empty %}
            <div class="text">
                {{ this.credential.username }}
            </div>
        {% endif %}
    </a>

    <div class="btn-container vertical-center">
        <a href=" {{ path('delete-credential', {'id': this.credential.id})}} ">
            <i class="fas fa-trash"></i>
        </a>
    </div>
</div>
